<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        
        <link rel="stylesheet" href="/sp_common/site-template/ohc-site-template/css/site.css">
        <script data-main="/sp_common/site-template/ohc-site-template/js/site-config" src="/sp_common/site-template/requirejs/require.js"></script>
        <script>
        if(window.require === undefined) {
          document.write('<script data-main="sp_common/site-template/ohc-site-template/js/site-config" src="sp_common/site-template/requirejs/require.js"><\/script>');
          document.write('<link href="sp_common/site-template/ohc-site-template/css/site.css" rel="stylesheet">');
        }
        </script>
        <link rel="shortcut icon" href="/sp_common/site-template/ohc-common/img/favicon.ico">
        
        {{> headPartial}}

    </head>
    <body>
        <noscript>
            <div>JavaScript must be enabled to correctly display this content</div>
        </noscript>
    
        {{> bodyPartial}}

    </body>
</html>
